<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny roles="Warehouse Assistant" />
            <deny roles="Transporter" />
            <deny roles="Management" />
            <deny roles="Transporter" />
            <deny roles="Warehouse Assistant" />
            <deny roles="Warehouse Manager" />
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>